*{
    padding:0;
    margin:0;
}
.body{
    background: url("image.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#scoreBox{
    position: absolute;
    left:850px;
    top:25px;
    font-size: 40px;
    font-weight: bold;

}
#board{
    height: 90vmin;
    width:90vmin;
    background:linear-gradient(white,yellow);
    border: 2px solid black;
   display: grid;
   grid-template-rows: repeat(20 ,1fr);
   grid-template-columns: repeat(20, 1fr);
    
}
.head{
    background:linear-gradient(lavender,yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 8px;
    ;
}
.snake{
    background-color: purple;
    border: .25vmin solid white ;
    border-radius: 10px;

}
.food{
   background: linear-gradient(red,rgb(220, 206, 13));
    border: .20vmin solid black;
    border-radius: 8px;
}